*
{
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzl8fHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    
}
.container
{
    text-align: center;
    padding-top: 300px;

}
button
{
    color: coral;
    text-align: center;
    font-size: 50px;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      

}
button:hover
{
    background-color: #4CAF50; /* Green */
    color: brown;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


  
}